/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#featured{
	padding-top: 2%;
}

#times{
	text-align: justify;
	padding-top: 0.5%;
}

#jogos{
	padding-top:2%;
}

#jogo1{
	background: #a0a0a0;
	padding: 10px;
}


#tabelas{
	padding-bottom: 2%;
}

















